ap-core-usecase/src/test/resources/testfiles/License.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="License">
        <xs:all>
            <xs:element name="licenseFile" type="NonEmptyString" minOccurs="0" />
            <xs:element name="installLicense" type="Boolean" minOccurs="0" maxOccurs="1" />
            <xs:element name="mandatoryLicenseKeys" type="NonEmptyString" minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>
</xs:schema>