ap-core-usecase/src/test/resources/testfiles/UserCredentials.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="Users">
        <xs:all>
            <!-- Secure users use SSH to connect to the node -->
            <xs:element name="secureUser" type="UserAccount" minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>

    <xs:complexType name="UserAccount">
        <xs:all>
            <xs:element name="name" type="xs:string" />
            <xs:element name="password" type="xs:string" />
        </xs:all>
    </xs:complexType>
</xs:schema>